body {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    border: none;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: gray;
  }
}